@model List<AromasWeb.Abstracciones.ModeloUI.Asistencia>

@{
	ViewData["Title"] = "Historial de Asistencia - Administrador";
}

<h2>Historial de Asistencias</h2>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Entrada</th>
			<th>Salida</th>
			<th>Horas Regulares</th>
			<th>Horas Extras</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Fecha.ToShortDateString()</td>
				<td>@item.HoraEntrada/td>
				<td>@item.HoraSalida</td>
				<td>@item.HorasRegulares</td>
				<td>@item.HorasExtras</td>
				<td>@item.HorasTotales</td>
			</tr>
		}
	</tbody>
</table>

<a asp-action="Index" asp-controller="Empleado" class="btn btn-secondary">
	Volver
</a>